[Unit]
Description=Automatically close awesome-cli-list PRs that dont meet the requirements.

[Service]
ExecStart=/home/jneidel/code/awesome-cli-apps/auto-close-prs
