todo.md
node_modules/
package-lock.json
personal.zsh
*.prog.md
__pycache__

.vim/swap/*
.vim/backup/*
.vim/tmp/*
.vim/bundle/*
.vim/sessions/*
.vim/view/*
.vim/.netrwhist
.vim/spell/*.add.spl
.config/nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
*.swp

scripts/personal
scripts/mpd/current-mpd-ip
scripts/mpd/mpd-server-status
scripts/weather/location
scripts/*/data
scripts/ftp/*-ip

.config/nvim/jaspers-neovim
.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt

repo/PKGBUILD/*
!repo/PKGBUILD/install
!repo/PKGBUILD/lemonbar-xft-git
!repo/PKGBUILD/yay-git

.local/share/icons/*
!.local/share/icons/*.png
