todo.md
node_modules/
personal.zsh
*.prog.md

.vim/swap/*
.vim/backup/*
.vim/tmp/*
.vim/bundle/*
.vim/sessions/*
.vim/view/*
.vim/.netrwhist
.vim/spell/*.add.spl

scripts/personal
scripts/mpd/current-mpd-ip
scripts/mpd/mpd-server-status
scripts/yt
scripts/*/data
