todo.md
node_modules/
personal.zsh
*.prog.md

.vim/swap/*
.vim/backup/*
.vim/tmp/*
.vim/bundle/*
.vim/sessions/*
.vim/view/*
.vim/.netrwhist
.vim/spell/*.add.spl
.config/nvim/plugin/packer_compiled.lua

scripts/personal
scripts/mpd/current-mpd-ip
scripts/mpd/mpd-server-status
scripts/weather/location
scripts/*/data
scripts/ftp/*-ip

.config/nvim/jaspers-neovim
.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt

PKGBUILD/*
!PKGBUILD/install
!PKGBUILD/lemonbar-xft-git
!PKGBUILD/yay-git

.local/share/icons/*
!.local/share/icons/*.png
