# docs: https://beets.readthedocs.io/en/stable/reference/config.html
#
directory: ~/Downloads/media/music/_imported
library: ~/.local/share/musiclibrary.db
import:
  copy: yes
  write: yes
  log: ~/.local/share/beetslog.txt
  resume: yes
  incremental: yes
  incremental_skip_later: yes
paths:
  default: $albumartist/$album/$track. $artist - $title
  singleton: Singles/$artist - $title
  comp: Various Artists/$album/$track. $artist - $title
  albumtype:soundtrack: Soundtracks/$album/$track. $artist - $title
asciify_paths: yes
art_filename: cover
plugins: fetchart embedart lyrics fromfilename scrub convert musicbrainz
# spotify
lyrics:
  force: yes
  sources: google lyricwiki musixmatch genius
match:
  strong_rec_thresh: 0.15
  medium_rec_thresh: 0.27
  max_rec:
    track_index: low
fetchart:
  sources: filesystem coverart itunes amazon albumart wikipedia
  minwidth: 500
