# ThinkPad USB-C dock
ACTION=="add",    SUBSYSTEM=="hidraw", ENV{ID_MODEL_FROM_DATABASE}=="ThinkPad Dock",       RUN+="/home/jneidel/scripts/hardware/dock connect"
ACTION=="remove", SUBSYSTEM=="hidraw", ENV{ID_MODEL_FROM_DATABASE}=="ThinkPad Dock Audio", RUN+="/home/jneidel/scripts/hardware/dock disconnect"
